[2020-05-14 16:26] ryanwinter opened #33 "STMicroelectronics update guide to use STM32CubeProgrammer"
The [current guide](https://github.com/azure-rtos/getting-started/blob/master/STMicroelectronics/B-L475E-IOT01A/readme.md) are using the ST-Link utility for programming the device.

The recommended tool is the [STM32CubeProgrammer](https://www.st.com/en/development-tools/stm32cubeprog.html) as this is the successor of the ST-Link utility.

[2020-05-22 04:11] ryanwinter opened #67 "Azure IoT Hub Basic tier is not supported"
The current guides publish a device twin property from its main mqtt loop, which is not allowed if using a Basic tier. The results in a disconnect and all following telemetry failing.

[2020-05-22 04:18] BarryNolte opened #68 "No source or install for TraceX"
Not sure where to put this bug, but there is no repository for TraceX, and the online docs  at:

https://docs.microsoft.com/en-us/azure/rtos/tracex/  The "Download TraceX leads to a 404 error.

[2020-05-22 08:33] colinvsyuan opened #69 "B-L475E-IOT01A fails to resolve DNS to due outdated WiFi firmware"
azure-rtos/getting-started/B-L475E-IOT01A reminder below error after flash:
Initializing SNTP client
	FAIL: Unable to resolve DNS for SNTP Server time.google.com (0xa3)
ERROR: Failed to run the sntp client

[2020-05-22 08:55] colinvsyuan commented on #69
resolved by replace board.

[2020-05-28 18:13] ryanwinter commented on #33
Fixed by https://github.com/azure-rtos/getting-started/pull/72

[2020-05-28 18:13] #33 closed

[2020-05-28 20:07] ryanwinter commented on #67
Close with https://github.com/azure-rtos/getting-started/pull/73

[2020-05-28 20:07] #67 closed

[2020-05-29 06:25] ryanwinter commented on #69
Hi Colin,

It's possible the previous board was running an older wifi firmware version. Are you able to post what's printed out when the board starts up with the GSG firmware?

[2020-05-31 01:36] JakeSays opened #74 "Move dependencies outside of the build directory"
Since this project is tightly coupled to threadx repos it would be appreciated if you would replace the non-standard CPM cmake module with standard git sub modules that are not located under the build directory. CPM is just unnecessary complexity, and makes integrating with existing development workflows (not CI workflows) difficult.

[2020-06-01 04:07] ryanwinter commented on #74
Hi @JakeSays,

Thanks for the feedback. Could you describe the particular problem you are seeing with integration with existing development workflows?

CPM is a thin wrapper over cmake [FetchContent](https://cmake.org/cmake/help/latest/module/FetchContent.html). Would using the standard FetchContent itself by an acceptable solution for you?

[2020-06-01 04:28] colinvsyuan commented on #69
Hi Ryan,
Not sure how to check and flash the wifi firmware? how to check the GSG firmware post? I could try it if you will guide?

[2020-06-01 04:31] ryanwinter commented on #69
When you run through the guide, you will get the following output on the serial console:
[code]

I believe FW Revisions older than 3.5.2.5.STM have issues. Are you able to check what the version is?

[2020-06-01 04:40] colinvsyuan commented on #69
your are right, my wifi firmware is "C3.5.2.3.BETA9"

[2020-06-01 14:59] JakeSays commented on #74
@ryanwinter Actually my issue isn't with CPM per se. The biggest problem is having dependencies located in the build directory. That directory is transient, and having to refresh dependencies constantly is both time consuming and frustrating. It is not uncommon to have several threadx files open in the editor when debugging or studying code.

The typical workflow is to have a `third_party` type di

[2020-06-02 19:13] ryanwinter commented on #74
Thanks @JakeSays, this makes sense. Let me think about this a bit more.

[2020-06-03 04:01] ryanwinter commented on #69
Doc fix with https://github.com/azure-rtos/getting-started/pull/76

[2020-06-03 04:01] #69 closed

[2020-06-04 02:22] TiejunMS opened #78 "Compiler errors for ARM GCC 10"
Though it is compiler clean for ARM GCC 9, it would be great to fix the following compiler error reported by ARM GCC 10.
[code]

[2020-06-04 04:10] ryanwinter commented on #78
Thanks @TiejunMS, I think this fixes the problem: https://github.com/azure-rtos/getting-started/pull/79

[2020-06-04 04:10] #78 closed

[2020-06-04 04:12] TiejunMS commented on #78
Verified. It is fixed. Thanks!

[2020-06-04 15:57] vishnureddy17 opened #80 "STM32L4 build failure with TX_ENABLE_EXECUTION_CHANGE_NOTIFY defined"
If TX_ENABLE_EXECUTION_CHANGE_NOTIFY is defined, then building tx_initialize_low_level.S.obj fails with the following message:
[code]
Looks like a minor edit to tx_initialize_low_level.S would do the trick.

[2020-06-04 17:06] ryanwinter commented on #80
Fixed with https://github.com/azure-rtos/getting-started/pull/81.

Thanks @vishnureddy17!

[2020-06-05 21:03] ryanwinter commented on #74
Tracking on this branch: https://github.com/azure-rtos/getting-started/tree/user/rywinter/submodule

[2020-06-05 22:07] #80 closed

[2020-06-05 22:41] ryanwinter commented on #74
Tracking on PR: https://github.com/azure-rtos/getting-started/pull/82

[2020-06-09 17:44] #74 closed

[2020-06-24 21:19] ryanwinter opened #87 "Rename STM32L4 to STM32L4_L4+"
To reflect that this guide is for both the L4 and L4+ series.

[2020-06-25 00:21] goldscott commented on #87
Isn't L4+ a subset of L4? Do we need to complicate things?

[2020-06-25 04:18] ryanwinter commented on #87
Hi Scott, the L4+ is a new series of MCU's, its not a subset of the L4.

[2020-07-06 07:26] rploeg opened #92 "Compile error"
Hi,

**I just followed the guidance for the STM RTOS Device, but when I try to build the new image I get the following error:**

**C:\repo\getting-started\STMicroelectronics\STM32L4\tools>rebuild.bat
-- Using ARM GCC from path = C:/Program Files (x86)/GNU Tools Arm Embedded/9 2019-q4-major/bin
-- Using ARM GCC from path = C:/Program Files (x86)/GNU Tools Arm Embedded/9 2019-q4-major/bin
-- The C c

[2020-07-06 08:10] rploeg commented on #92
My clone didn't worked correctly, so some files where missing....

[2020-07-06 08:10] #92 closed

[2020-07-06 17:00] ryanwinter commented on #92
Hi @rploeg, glad you resolved this. Do you know why the clone failed?

[2020-07-07 21:17] ryanwinter commented on #87
https://github.com/azure-rtos/getting-started/pull/94

[2020-07-07 21:18] #87 closed

[2020-07-20 08:03] zzzh opened #97 "compile error on B-L475E-IOT01A board"
Hello,

I was following this guide to compile it for B-L475E-IOT01A board, but got errors like:

../lib/netx_driver/src/es_wifi.h:253:22: error: field 'IO_Init' declared as a function
  253 |   IO_Init_Func       IO_Init;

the code is:
typedef struct {
  IO_Init_Func       IO_Init;
  ...
} ES_WIFI_IO_t;

IO_Init_Func is defined as:
typedef int8_t *IO_Init_Func(uint16_t );

It looks good to me, any

[2020-07-20 13:23] ryanwinter commented on #97
Hi @zzzh,

What compiler version are you using?

Also can you paste more of the error?

Thanks

[2020-07-20 14:22] zzzh commented on #97
Hi, @ryanwinter，

The compiler is the one in get-toolchain.bat: gcc-arm-none-eabi-9-2019-q4-major-win32-sha2.exe
only cmake is different, which is 3.17.3

All errors by now is in same type, and all in ES_WIFI_IO_t struct, so the one here should be enough.

Thanks for your reply.

[2020-07-20 23:43] zzzh commented on #97
Hi, @ryanwinter，

Sorry, I realized that I'm actually using programs extracted from gcc-arm-none-eabi-9-2019-q4-major-win32.zip package, that should be fine, right?

[2020-07-21 02:45] ryanwinter commented on #97
Hi,

This error isn't reproducible for me so I'll have to investigate a bit further. Couple of things to test:
1. Can you delete and reclone the repo, make sure you clone recursive? Maybe I file was corrupted on the clone.
2. If the file path is quite deep, can you try and checkout to a shallower path? I know that some compiler have issues with deep file paths.

Ryan

[2020-07-21 15:31] zzzh commented on #97
Sure, I'll do that tomorrow.

Thanks.

[2020-07-22 00:04] zzzh commented on #97
Hi, @ryanwinter，

I did the 2 steps as you recommended, it compile perfectly now.

thanks for the help.

Bob

[2020-07-22 00:04] #97 closed

[2020-08-18 07:51] ccli8 opened #125 "ST's netxduo of wifi version failure in DPS"
Hi,

I am Nuvoton's engineer and on porting azure iot, based on azure rtos 6.0.1, onto Nuvoton's NuMaker-IoT-M487 board, which is Cortex-M4 MCU and has one on-board ESP8266 wifi module. Because ESP8266 WiFi module has its own stack, I follow [ST's reduced netxduo for wifi](https://github.com/azure-rtos/getting-started/tree/master/STMicroelectronics/STM32L4_L4%2B/lib/netxduo) to substitute for the

[2020-08-18 09:04] TiejunMS commented on #125
@ccli8 , it is limited by the WIFI driver. We are not able to support it. To avoid this issue, you can specify a timeout in connecting APIs.

For ESP8266, it is possible to port a driver with full netxduo features. Though we don't have a plan to port it in the near future, I heard it is working from partner.

[2020-08-18 09:14] ccli8 commented on #125
@TiejunMS Thanks for your reply. Borrowing this thread, for communication module with its own stack like ESP8266 here, do you have another plan to support it, or only follow ST's netxduo for wifi version currently?

[2020-08-18 09:20] TiejunMS commented on #125
@yuxin-azrtos , could you answer this question?

[2020-08-20 06:06] ccli8 opened #127 "Disable interrupt in ST's netx wifi driver?"
I have a question with protection of ST's netx wifi driver. In https://github.com/azure-rtos/getting-started/blob/master/STMicroelectronics/STM32L4_L4%2B/lib/netx_driver/src/nx_wifi.c,

`nx_wifi_` APIs have been protected with:

https://github.com/azure-rtos/getting-started/blob/829122217a643ce60d0b468c71358fcb9522aa38/STMicroelectronics/STM32L4_L4%2B/lib/netx_driver/src/nx_wifi.c#L228-L229

Then

[2020-08-20 17:04] ryanwinter commented on #127
@yuxin-azrtos,

Are you able to expand on @ccli8's question?

[2020-08-21 07:47] bo-ms commented on #127
Hi @ccli8, thanks for bring this up, yes, it is not necessary to disable interrupt again here after getting mutex.

[2020-08-27 16:23] yuxin-azrtos commented on #125
@ccli8 We are looking at supporting a wide range of communication modules, including official support for the ESP8266. We also plan to add more documentation on how to support new communication modules in the future.

I am closing this issue.  Feel free to reopen it if you have further questions.

[2020-08-28 02:08] #125 closed

[2020-09-01 22:07] ryanwinter commented on #127
Hi @ccli8, we are still investigating this question.

[2020-09-08 18:43] surajsridhar opened #135 "Build Failure"
Hello,

I am using the STMircro BL475E board.

I have executed the batch file that installs all the dependencies latest revision. But when I run the revbuild.bat file in adminstrator mode, the build fails and I get CMake error.

I have the latest version of CMake installed. Verified it with the cmake --version command. Can you please let me know how to solve the issue. Attached is the error log.

[2020-09-08 19:29] ryanwinter commented on #135
Hi @surajsridhar,

The build can't find the arm compiler so is failing. It also seems you hit upon a bug in the toolchain file where it is trying to resolve the compiler through a visual studio installation.

You can either run "get_toolchain.bat" to setup the gcc arm compiler, or you can download it directly from Arm itself and add it to your system path.

[2020-09-08 19:53] surajsridhar commented on #135
![image](https://user-images.githubusercontent.com/16930890/92521336-50dc4980-f1da-11ea-9637-0b5b0e61cfda.png)

This is the output i get when i run the get-toolchain.bat file as an adminstrator. If I am running the wrong file, can you point me to the correct directory.

[2020-09-08 20:38] ryanwinter commented on #135
This is the right file, looks like there are some issues with gcc and termite, let me look into this and get back to you.

[2020-09-08 20:43] ryanwinter commented on #135
Can you look in the **C:\Users\sridhars\AppData\Local\Temp** directory.

Do you have a **termite-3.4.exe** and **gcc-arm-none-eabi-9-2019-q4-major-win32-sha2.exe** file in there?

[2020-09-08 20:51] surajsridhar commented on #135
Hello,

I did look into those directories and Termite and gcc-arm are not present. I have termite in my C:\ProgramFiles9x86)\Termite and I assume it is installed.

Also, based on the error I got on running the rebuild.bat file in adminstrator mode, I did download the arm-none-eabi-gcc.exe from the ARM website, ran the installer until the command prompt opened, closed it  and set the path manually

[2020-09-08 21:14] ryanwinter commented on #135
I haven't quite figured out while the download is failing in for the arm compiler. Is it possible that there is a virus scanner running that is quarentining the files?

[2020-09-08 21:45] surajsridhar commented on #135
I have symantec encryption present in my laptop. But my colleagues who have the same thing, have executed the project without any issues. We have the same security measures.

[2020-09-08 22:20] ryanwinter commented on #135
If you are unblocked for now, I'll close this item.

I will look into adding manual instruction for installing the tools in the future.

[2020-09-08 22:23] surajsridhar commented on #135
I am still facing issues. You can close the ticket but it will be unresolved.

[2020-09-08 22:54] ryanwinter commented on #135
Sorry I misunderstood, you mentioned above that you manually install the gcc arm toolkit

If you download it from here:
https://developer.arm.com/-/media/Files/downloads/gnu-rm/9-2019q4/gcc-arm-none-eabi-9-2019-q4-major-win32-sha2.exe

Then add the bin folder into your PATH, then it will be picked up automatically.

[2020-09-08 23:14] surajsridhar opened #137 "Detials in the Config File"
Hello,

I am following the steps for executing the project on the STM board. I am filling out the details foe the azure_config.h file and not sure where do i get the information for the following:

// ----------------------------------------------------------------------------
// Azure IoT DPS config
// ----------------------------------------------------------------------------
#define IOT_DPS_EN

[2020-09-09 00:52] ryanwinter commented on #137
Hi @surajsridhar,

The DPS details are only required if you are using the [DPS service](https://docs.microsoft.com/en-us/azure/iot-dps/). Currently this is not outlined in the guide readme as we are still putting a few additional pieces in place on the server side.

So you can leave this lines blank.

[2020-09-09 00:52] #137 closed

[2020-09-09 18:09] surajsridhar commented on #135
Hello,

I have re verified the path of the GCC compiler and other software requirements. I repeated the steps using the STM BL475E IoT board.

But when I run the rebuild.bat file in the adminstrator mode i am still getting issues, I have verified that I have the latest CMake (CMake --version) and Ninja(ninja --version)  installed in my laptop. I am attaching the CMake error log for your reference.

[2020-09-09 19:52] ryanwinter commented on #135
Both of those files look correct. You can ignore the CMakeError.log as this is due to the compiler check failing as its an embedded target and this is ignored by CMake.

So what files do you see in the build/app directory?

What is the console output of rebuild.bat? You should see something like:
[code]

[2020-09-09 20:32] surajsridhar commented on #135
Hello,

I am unable to see my console output as it immediately shuts down without me getting a chance to read through the output. This was not happening yesterday. I downloaded the project agian on my C Drive and this issue is happening,

If my CMake error log file is correct, where do i find the output bin file. Beacause in the path mentioned -> build/app/output.bin , there are no files there

[2020-09-09 20:45] ryanwinter commented on #135
You can run the rebuild.bat from a command window and this will allow you to see the final output and if there are any errors.

It will look like:
![image](https://user-images.githubusercontent.com/10238039/92652970-89dff100-f2a2-11ea-83f1-b5699e0747eb.png)

[2020-09-09 20:48] surajsridhar commented on #135
![image](https://user-images.githubusercontent.com/16930890/92653310-64a3b080-f2ab-11ea-8bbd-c4f148c8af53.png)

Getting this error... I assume it is a CMake error... How do I fix this... My current Cmake verison is 3.18.2

[2020-09-09 20:54] ryanwinter commented on #135
When you [clone the repository](https://github.com/azure-rtos/getting-started/tree/master/STMicroelectronics/STM32L4_L4%2B#clone-the-repo-for-the-tutorial), make sure you specific the --recursive flag. Your clone is not complete.

[2020-09-09 20:57] surajsridhar commented on #135
I am not able to clone the repo... Hence I downloaded it. Is the only option to clone it?

[2020-09-09 20:58] ryanwinter commented on #135
Yes you have to clone the repository to get all the dependencies. GitHub doesn't currently provide a download option which pull in all the dependencies.

Why are you unable to clone?

[2020-09-09 21:03] surajsridhar commented on #135
I am not sure... I get an output saying

![image](https://user-images.githubusercontent.com/16930890/92654765-8e5dd700-f2ad-11ea-9065-6df77fded171.png)

[2020-09-09 21:06] ryanwinter commented on #135
Unfortunately this problem goes beyond the scope of this project as your computer appears to have DNS resolution issues, or you have a broken install of Git.

My suggestion would be to make sure you install the latest version of Git as outlined [here](https://github.com/azure-rtos/getting-started/tree/master/STMicroelectronics/STM32L4_L4%2B#prerequisites).

If that doesn't work, then you would nee

[2020-09-09 21:21] surajsridhar commented on #135
![image](https://user-images.githubusercontent.com/16930890/92656322-1218c300-f2b0-11ea-9ab3-4c2155d4ac1a.png)

Is this an issue from your end?

[2020-09-09 22:08] ryanwinter commented on #135
I'm unsure what that screenshot is from, but github is [currently not experiencing an outage](https://www.githubstatus.com/).

[2020-09-09 22:22] surajsridhar commented on #135
Hello,

I fixed the git issue now. I could successfully do a recusive clone of the repo. When I am running the rebuild.bat file I am getting the following error

![image](https://user-images.githubusercontent.com/16930890/92660938-ac7d0480-f2b8-11ea-8a33-2edd849a8217.png)

Should I run the batch file as an admin?

[2020-09-09 22:51] ryanwinter commented on #135
What was the DNS issue about?

This means that gcc was unable to write to your file system which may indicate you have some file system corruption. If you rerun the rebuild.bat, do you get the same issue? It doesn't need to be run as admin.

[2020-09-10 05:49] surajsridhar commented on #135
**_The port 8081 is in use. To get around with the issue, configure a custom port by setting the system environment variable 'AZURE_IOT_EXPLORER_PORT' to an available port number. **
I a getting this error command when I try to view my devices on the Azure IoT explorer. Can you let me know which port to use

[2020-09-10 14:24] ryanwinter commented on #135
Use whatever port you want that you aren't already using.

[2020-09-10 14:25] #135 closed

[2020-09-15 22:09] ryanwinter commented on #127
Hi @ccli8,

We are still looking into this, as this has no customer impact, its a lower priority right now.

Thanks

[2020-09-17 19:05] moizhraj opened #141 "Callbacks not working on STM32L4 Disco"
I am using the unmodified getting started repo. I have an STM32L4 discovery kit. The application works fine for sending the telemetry but fails for callbacks (C2D, desired prop, twin prop) except invoking methods.

[2020-09-17 19:19] ryanwinter commented on #141
Ho @moizhraj,

The current GSG model doesn't contain and C2D commands.

For the desired property, are you using IoT Explorer to trigger an update to the telemetryInterval?

![image](https://user-images.githubusercontent.com/10238039/93517182-f0d35a80-f8df-11ea-9fdc-b48e6f4a1849.png)

[2020-09-17 19:39] moizhraj commented on #141
@ryanwinter I am doing it all through Azure IOT Hub VS code extension, but tried with explorer as well.

![image](https://user-images.githubusercontent.com/44790182/93518164-4eb47200-f8e1-11ea-9be5-75a9099a1825.png)

[2020-09-17 19:47] ryanwinter commented on #141
Ah I see, unfortunately the Hub VSCode extension doesn't support the new Plug and Play refresh so this is not the recommended tool at this time for communicating with the device.

For the Plug and Play refresh, its still in preview so is only available in certain Hub regions. centralus is the recommended location.

[2020-09-17 19:51] moizhraj commented on #141
ok, so i tried with IoT Explorer for C2D messages but it doesn't show up on the device.

[2020-09-17 23:11] ryanwinter commented on #141
The C2D message handling is very rudimentary at this time.

I have pushed an update that will now publish the reception of the C2D message, along with the properties + message body if present. This will now be printed to the console. If you pull the latest git you should now see this printout.

[2020-09-17 23:12] ryanwinter commented on #141
You will see something like:
`Received C2D message, properties='', message='hello'`

[2020-09-18 04:39] moizhraj commented on #141
@ryanwinter I just took a fresh copy and tried to build and it fails. Can you confirm?

![image](https://user-images.githubusercontent.com/44790182/93556734-48001c00-f92e-11ea-9276-b19456a75e8c.png)

[2020-09-18 05:32] moizhraj commented on #141
Thanks @ryanwinter this works. I also see that there aren't any methods for sending string values, so have added below to `azure_iot_mqtt.c`

[code]

is it already available?

[2020-09-21 23:36] ryanwinter commented on #141
Yes, the guides provide a sample implementation that isn't complete. You have the right idea in that other types can be implemented by modifying the existing functions.

[2020-09-21 23:37] ryanwinter commented on #141
I'm going to close this issue as it seems you are unblocked at this time. Feel free to reopen this issue, or open a new issues if needed.

[2020-09-21 23:37] #141 closed

[2020-09-26 01:00] yuxin-azrtos commented on #127
Hi @ccli8 just so you know this issue is in our tracking system, and we will review and respond to you.  Thank you for your understanding.

[2020-09-29 22:03] #127 closed

[2020-11-19 15:12] NOCTLJRNE opened #163 "SNTP timeout"
Hi, I was following this tutorial & I was stuck at "Confirm device connection details" step 7, my console showed issues with SNTP server timeout, restarting client, & it stuck in a loop as below:
![errtimeout](https://user-images.githubusercontent.com/13896688/99684547-29480e00-2ab4-11eb-8c65-622d4d3ca9a4.JPG)
I have no idea what could be the reason, thanks for any help in advance.

[2020-11-19 17:15] ryanwinter commented on #163
Hi @NOCTLJRNE,

What device are you using? I'll try and repo first to make sure this isn't a recent regression.

[2020-11-19 23:58] NOCTLJRNE commented on #163
@ryanwinter hi, I'm using the MXCHIP IoT DevKit AZ3166

[2020-11-20 00:05] ryanwinter commented on #163
There have been changes to the SNTP code recently. Is this a new Git clone? Can you try running the following:
[code]

And then rebuild and try again?

If isn't the issue then its possible that your network is somehow interfering with the SNTP packets. I might be possible to look at wireshark to see what the traffic is doing.

[2020-11-20 00:39] NOCTLJRNE commented on #163
thank you, I'll try it out

[2020-11-20 02:22] NOCTLJRNE commented on #163
Thank you for the hint, I connected the board to my mobile data network & the problem with SNTP server being timeout is solved, may be there is something wrong with my home Wifi network as you suggest that I haven't figured out yet.

[2020-11-20 02:22] #163 closed

[2020-11-20 07:01] ryanwinter commented on #163
Glad you got it working. If you find anything out on the SNTP failures for the other network, let me know. We occasionally hit edge cases and are trying to improve the sample to work across as many configurations as possible.

[2020-12-22 18:44] Maarten-Work opened #170 "Sending telemetry to IoT Hub fails after SNTP time update"
Using both MXChip and STM32 devices, I noticed the following behavior (see the attached file for logging information):

**MXChip**
  - After an hour there is a SNTP time update
  - Shortly after, the device disconnects from IoT Hub
  - This is independent from interval times.

**STM32**
- Interval time > 240 seconds
  - After sending a few telemetry messages successfully, the device gets disconnec

[2021-01-02 12:14] matsujirushi opened #171 "Didn't start shell prompt"
This repository has the devcontainer.
Open it in VSCode Remote-Container and click 'New Terminal', I cannot see the shell prompt.
![image](https://user-images.githubusercontent.com/8079404/103457079-6eac5c00-4d3f-11eb-9465-5589cacb099d.png)

[2021-01-04 04:55] ryanwinter commented on #171
Hi @matsujirushi,

I have noticed that starting a new terminal in a devcontainer can take a while. I noticed in your screenshot that you have 4 bash terminals open, have they all failed to generate a terminal?

[2021-01-04 07:11] matsujirushi commented on #171
Hi @ryanwinter ,

Thanks for question.
I waited and was prompted. about 45sec.

Each time I press ENTER, it will take some time.
It looks like oh-my-bash seems to be affected.

When I remove "export OSH=..." in ~/.bashrc, it is fine.

[2021-01-04 23:59] ryanwinter commented on #170
I see three problems here:
1. Setting the interval >240 seconds results in a disconnect. The SDK should be sending a keep alive, so will need to investigate why this is not occurring, or not stopping a disconnect.
2. The SNTP sync results in a disconnect. I'm unsure how the time is used after the initial negotiation, but there may be an issue with the clock drifting, and then the correction is cau

[2021-01-05 10:20] Maarten-Work commented on #170
On **2** it does make sense that there would be some drifting, which would mean to somehow reset the time similar to the initial negotiation if that even makes sense.
On **3**, I think it would be great to have some reconnection logic sample code available, since this doesn't seem trivial and everybody using the SDK needs it. Could reconnection logic be integrated in the SDK? I realize that there

[2021-01-05 20:08] ryanwinter commented on #170
Looking at the MXCHIP, I'm seeing a 2-3 minute drift each hour which is ridiculous. Either the clock is not setup correctly, or their is something wrong with threadx tick counter. I suspect clock is not setup as 95MHz as the RTOS expects.

With #3, the SDK has a callback which tells you when a disconnect occurs, however its up to the application to negotiate reconnection. I'll take a look more to

[2021-01-08 17:15] ryanwinter commented on #171
Hi @matsujirushi,

I'm not sure what the shell is so slow, whether this is a VSCode container issue, or something related to the getting started container itself. I'll investigate further and let you know.

[2021-01-12 16:03] Maarten-Work commented on #170
Unless I am looking at the wrong location, it seems that the callback which tells when a disconnect occurs is not exposed to the application, unlike the device twin and method callbacks. For now I simply tried restarting the system when I get telemetry errors, but I am not successful with that either. When I try to reset the Azure thread I do get an error. Here is the logic I tried to use:

[code]

[2021-01-12 18:22] ryanwinter commented on #170
I fixed the MXCHIP drift, the external clock was incorrect.

[2021-01-12 22:14] ryanwinter commented on #170
I think this form of reset would be unsuccessful, because I think all the other threads are still running and would fail when the main restarted thread tried to respawn them. This method would likely need a cleaner shutdown so it can be restarted.

Let me take a look at this now, I should be able to trigger a middleware connect on the disconnect message.

[2021-01-12 22:38] ryanwinter commented on #170
I have implemented some basic retry logic in this PR, can you try it out and let me know how it goes?
https://github.com/azure-rtos/getting-started/pull/177

[2021-01-13 13:15] Maarten-Work commented on #170
I tested for a longer time with MXChip/AZ3166 and it works good. I still see a disconnect every hour, but got properly reconnected to IoT Hub. I also see that the drift is gone, but see only 1 SNTP update, which used to be happening every hour as well. Further info an be found in the log file (telemetry interval at 60 seconds), see [AZ3166Log.txt](https://github.com/azure-rtos/getting-started/file

[2021-01-13 17:16] Maarten-Work commented on #170
Just for completeness, I just tested on AZ3166 with DPS as well, and that is working properly too as you can see here:
[AZ3166LogWithDPS.txt](https://github.com/azure-rtos/getting-started/files/5810130/AZ3166LogWithDPS.txt)

[2021-01-13 18:29] ryanwinter commented on #170
The large drift was caused because I was printing an unsigned number, and the drift was -1, I fixed this in the branch.

At this time, I believe the only outstanding issues are with the STML4 boards. These boards are running a forked version of the netxduo stack, and there are a number of deficiencies in the fork we are seeing:
1. Keep alive is not working, meaning that if no telemetry is being se

[2021-01-21 18:10] shwetachauhan opened #180 "The Invoke method SetLEDState returns 200 code and does not change any of the LED state"
The SetLEDState method is not returning 204 status as mentioned in the document instead it returns 200 and I do not see any change to any of the LEDs on IMRT1060 EVK board

[2021-01-24 21:05] ryanwinter commented on #180
Hi @shwetachauhan,

Thanks for the feedback. Unfortunately the NXP doesn't have a user LED that can be toggled. I will update the readme to reflect the two inconsistencies you have pointed out above.

[2021-01-24 21:13] ryanwinter commented on #180
https://github.com/azure-rtos/getting-started/pull/182

[2021-01-24 21:13] #180 closed

[2021-01-30 14:58] rploeg opened #183 "SNTP - DNS cannot resolve"
Hello,

When I try the example and check with termite I see the following error:

Initializing SNTP client
	SNTP server 0.pool.ntp.org
	FAIL: Unable to resolve DNS for SNTP Server 0.pool.ntp.org (0xa3)
ERROR: Failed to run the sntp client

On my Wi-Fi network everything is working fine and can resolve the NTP server.

[2021-01-30 16:07] rploeg commented on #183
Found the error: I had old WiFi firmware on the device (was brand new..)

[2021-01-30 16:07] #183 closed

[2021-01-30 16:25] ryanwinter commented on #183
Hi @rploeg, did the guide and protect help you identify the outdated firmware? We have tried to highlight this but it can be very easy to miss with all the steps, would appreciate any feedback.

[2021-01-31 17:26] rploeg commented on #183
yes, i really missed it in the manual (my fault). But when booting the device I could see in Termite the message that my WiFi firmware was out to date, so I thought let's start with that. Directly updated 5 devices :)

@ryanwinter  maybe also something that you could help me with; I am looking for some example to use the GPIO (to enable a motor) on my ST device. Do you have some examples? In the e

[2021-02-03 20:00] rploeg opened #188 "Controlling other devices"
Hello,

I have the sample up and running on my MXchip with Azure RTOS, but I am looking for a good example how I can control for example a motor. Normally I could enable pins on this way when developing for the MXchip (old school via Arduino/ VS Code):

if (temperature >= temperatureThreshold)
  {
    digitalWrite(PB_0, HIGH);
  }

How can I achieve this with this RTOS example?

[2021-02-04 21:44] ryanwinter commented on #188
Hi @rploeg,

The RTOS samples is built on the stm32cubef4 sdk, which is available in the GSG at [this location](https://github.com/azure-rtos/getting-started/tree/master/MXChip/AZ3166/lib/stm32cubef4/Drivers).

The HAL has function for writing to GPIO pins, which is probably of interest to you here:
https://github.com/azure-rtos/getting-started/blob/master/MXChip/AZ3166/lib/stm32cubef4/Drivers/STM

[2021-02-04 21:48] ryanwinter commented on #188
You can take a look at some of the samples over in the STM github on this topic where it shows you how to initialize the GPIO, and then toggle the pins:
https://github.com/STMicroelectronics/STM32CubeF4/blob/master/Projects/STM32F412G-Discovery/Examples/GPIO/GPIO_IOToggle/Src/main.c

[2021-02-04 21:48] #188 closed

[2021-02-05 01:03] TiejunMS commented on #171
One possible is that the repo is cloned in Windows file system but the container is Linux file system. Some of the shell will perform a `git status` and it takes a while. Here is the link of best practice to use docker in Windows: https://docs.docker.com/docker-for-windows/wsl/#best-practices

[2021-02-05 23:17] ryanwinter commented on #171
Thanks @TiejunMS,

Yes when I clone the repository into the within the Linux file system, then the performance issue goes away.

To do this, I chose the "Remote-Containers: Clone Repository in Container Volume..." option.

I will close this for now as this is a limitation of the WSL integration with Docker.

[2021-02-05 23:17] #171 closed

[2021-03-30 18:44] btesar opened #232 "Unable to resolve DNS for SNTP Server 0.pool.ntp.org (0xa3) on B-L4S5I-IOT01A"
I get the SNTP error using a B-L4S5I-IOT01A board built 1720.  I repeatedly pinged the SNTP server from PowerShell to confirm it is there.

Starting Azure thread

Initializing WiFi
        Module: ISM43362-M3G-L44-SPI
        MAC address: C4:7F:51:8D:E2:83
        Firmware revision: C3.5.2.5.STM
        Connecting to SSID 'MySpectrumWiFic0-2G'
SUCCESS: WiFi connected to MySpectrumWiFic0-2G

Initia

[2021-03-30 18:59] ryanwinter commented on #232
Hi,

Just double checking that the 192.168.1.1 is the correct DNS endpoint?

Can you run the following:
`nslookup 0.pool.ntp.org`

Ryan

[2021-03-30 19:04] btesar commented on #232
PS D:\sT\azure\getting-started> nslookup 0.pool.ntp.org
Server:  RAC2V2S
Address:  192.168.1.1

Non-authoritative answer:
Name:    0.pool.ntp.org
Addresses:  200.89.75.198
          178.17.161.12
          200.189.40.8
          212.83.187.62

[2021-03-30 19:06] ryanwinter commented on #232
Thanks @btesar. Actually the error code 0xA3 is very wierd, I'm wondering if this is being truncated somehow, let me take a look to see if I can improve debug output.

[2021-03-30 19:40] btesar commented on #232
Starting Azure thread

Initializing WiFi
        Module: ISM43362-M3G-L44-SPI
        MAC address: C4:7F:51:8D:E2:83
        Firmware revision: C3.5.2.5.STM
        Connecting to SSID 'MySpectrumWiFic0-2G'
        WiFi is unable connect to 'MySpectrumWiFic0-2G', attempt = 1
SUCCESS: WiFi connected to MySpectrumWiFic0-2G

Initializing DHCP
        IP address: 192.168.1.10
        Gateway: 192.168.1

[2021-03-31 20:43] ryanwinter commented on #232
Unfortunately the SDK requires a working DNS to resolve the hub hostname that is returned from DPS.

We have a couple of examples of certain DNS servers not working correctly with the Azure RTOS DNS client, however haven't managed to track down the cause. The fact that after hardcoding the IP we can see the DHCP and SNTP or both working to me means that this is the same issue and it is DNS specifi

[2021-04-02 15:18] oh-domino commented on #183
@ryanwinter @rploeg How do you update the firmware on the device? There aren't any instruction for how to install the firmware in the tutorial. I've downloaded it and have the .bin and .bat files on my windows machine, but what is the best way to get them on the STM Discovery kit devices?

[2021-04-02 19:48] oh-domino commented on #183
@ryanwinter I got this working, but it took too much digging around google to figure out how to make this work.
First, I needed to follow the readme.txt file that is in the Inventek ISM 43362 Wi-Fi module firmware update zip folder. My recommendation is that this would be better placed on the troubleshoot page of the getting started guide.
Next, I downloaded the ST-Link Utility and the STMFlashLoa

[2021-04-05 21:13] ryanwinter commented on #183
Thanks @oh-domino,

I'll pass that feedback onto STMicroelectronics and I would highly recommend you provide this feedback as well (I think the forum is the only option). The Inventek website appears to be working now, but I also have had many issues with it in the past.

[2021-04-06 21:43] ryanwinter commented on #232
Hi Brian,

Were you able to debug this any further?

Ryan

[2021-04-06 23:11] btesar commented on #232
No. I got pulled into other projects.

[2021-04-13 16:14] wintertest commented on #232
Let me know if you need any additional help here. I can pull in additional people from the Azure RTOS team to help debug this problem.

[2021-05-10 15:44] Maarten-Work commented on #170
I guess we can close this issue. Running fine on MXChip, and NXP HW.

[2021-05-10 15:44] #170 closed

[2021-05-11 16:19] ryanwinter commented on #170
Thanks Martin. There is still an outstanding issue with the STM in that netxduo doesnt provide a callback when the disconnect occurs. I'll provide this feedback to the Azure RTOS team.

[2021-05-11 16:19] #232 closed, assigned to ryanwinter

[2021-06-21 10:14] 19valentin99 opened #256 "arm-none-eabi-gdb.exe"
Good morning;
I was following the video: "Getting Started with IoT devices and Azure" (https://www.youtube.com/watch?v=MFGqlNeTWHk&list=LL&index=142&t=522s) but when I am trying to use the debugger to run the applicaiton I get the next error:
![test](https://user-images.githubusercontent.com/27396461/122746046-880b7b00-d281-11eb-8a0b-c5ce1a3448c8.png)

(OpenOCD GDB executable "arm-none-eabi-gdb.ex

[2021-06-21 10:28] 19valentin99 commented on #256
I got it working by following the tutorial from github (copy-paste the binary file) but I would like to ask if there would be a sollution for this problem.
Thank you

[2021-06-21 19:37] ryanwinter commented on #256
Hi @19valentin99,

It looks like the error is because arm-non-eabi-gcc.exe is not in your system path.

Your options would be:
1. Add GDB to the path, there is a checkbox on the last page of the installer where you can do this automatically.
2. Set the GDB path in the cortex-debug settings as specified in the error.

#1 is usually the easiest option, unless you have multiple arm-none-eabi-gcc vers

[2021-06-22 09:03] 19valentin99 commented on #256
Thank you

[2021-06-22 09:03] #256 closed

[2021-07-23 23:44] rschuerer opened #277 "Sending telemetry to IoT Hub fails after SNTP time update issue is back"
Hello

The previously closed issue #170 is back.

The problem was fixed with Azure IoT middleware reconnect logic #177
But recently this reconnect logic was removed #265

Now the previous problem is back.

I couldn't find the reason why this fix was removed.

Regards,
Reinhard

[2021-07-24 14:20] nmattia opened #280 "Screen.draw() is offset by one"
_Not sure if this the correct repo. The faulty code is bundled in `stm32f4/2.0.0/system/libdevkit-sdk-core-lib.a` but I can't find the source._

I noticed that when using `draw()`, the bitmap is not printed correctly. There is always a one pixel offset on the left. If the bitmap is _not_ as wide as the display, then it shows a small gap. If the bitmap is supposed to fit the display, then it will w

[2021-08-05 21:56] ryanwinter commented on #277
The logic was removed because it was incomplete and was contributing to connection problems so was not a good example of how to implement reconnection logic.

If there is demand to see improved reconnection logic implemented in a sample, then we can add this to our backlog for a future feature implementation.

[2021-08-05 22:04] ryanwinter commented on #280
Hi @nmattia,

This repository is for connecting devices to Azure IoT using Azure RTOS. The MXCHIP uses an STMF4 and also has a small screen onboard but I'm unsure if this is the same library as this isn't part of the mbed-os.

[2021-08-06 08:05] nmattia commented on #280
Hi @ryanwinter , thanks for the reply. Any idea where I should report this issue then?

[2021-08-08 10:35] acomas1 commented on #277
Could we at least insert code to Reboot the board after a delay, when this happens?

[2021-08-13 05:41] ryanwinter commented on #280
Sorry I'm not sure. The more info above mentions mbed, so perhaps the mbed forums could help.

[2021-08-13 05:41] #280 closed

[2021-08-13 23:18] Raysapps opened #284 "MxChip Application Device and WIFI Configuration"
The sample for MxChip app requires the developer to set build time configuration such as Wifi and Device connection strings in the 'azure_cofig.h" file. This means that the app needs to be built for each and every device separately. Instead, is it possible to build the app once and configure network settings externally from windows 10? Could you please advise how and where  the sample needs to be

[2021-08-13 23:59] Raysapps opened #285 "MxChip Application Telemetry nested Json"
How can I create nested json telemetry data  using the 'nx_azure_iot_json_writer_append_json_text' API in MxChip application? I would like to deserialize telemetry data from the Azure function (IoT hub Telmetry data trigger) to the MxChipDeviceData class as given below. I am not sure how to implement this in the  Mxchip application code.  Please advise.

`    public class MxChipDeviceData
    {

[2021-08-17 23:13] #285 closed

[2021-08-17 23:13] #284 closed

[2021-08-26 03:19] jackpeplinski opened #288 "Username field for WIFI"
Is it possible to include a username field for WIFI that requires it on [this line](https://github.com/azure-rtos/getting-started/blob/e0275b08f8fbf0ae0184591d1732069032a6eff7/MXChip/AZ3166/app/azure_config.h#L18)?

I'm trying to connect to WIFI that requires both a username and password.

[2021-09-08 01:02] CastleArg commented on #277
It would be great to have examples that would work for longer than 1hr!

[2021-09-08 04:35] ryanwinter commented on #277
Hi @CastleArg + @acomas1,

Is there a specific problem you are looking to solve, or are you just interested in general guidance on reconnection logic? We are investigating adding a reconnection workflow, however this does add complexity to the sample and we are worried that this may detract from the main purpose which is to demonstrate the use of the use of the Azure IoT SDK's.

Your feedback is h

[2021-09-08 04:38] ryanwinter commented on #288
Hi @jackpeplinski,

Do you know what encryption method that your wifi network is using? I'm not sure which ones require a password so I want to make sure I investigate the correct one.

[2021-09-08 14:01] jackpeplinski commented on #288
@ryanwinter
The encryption method is "WPA2 enterprise".

Let me know if you have other questions.

[2021-09-08 19:25] acomas1 commented on #277
I was planning to build a Sailboat telemetry application based on the MXChip, but if the chip can't maintain a connection to Azure, I'll look for another solution.  But any guidance on reconnecting logic would be an ok work-around.

Andrew

From: Ryan Winter ***@***.***>
Sent: Wednesday, September 8, 2021 12:35 AM
To: azure-rtos/getting-started ***@***.***>
Cc: Andrew Comas ***@***.***>; Mention *

[2021-09-08 20:13] ryanwinter commented on #288
It appears the Wifi firmware for the MXCHIP doesnt support Enterprise encryption. I need to investigate further to see if this is available in a newer version.

[2021-09-09 23:18] ryanwinter commented on #277
Hi @acomas1, @CastleArg

I have added the original reconnection logic back in, until we have time to develop a more comprehensive sample.

https://github.com/azure-rtos/getting-started/pull/292

[2021-09-22 22:04] mehrdadh opened #295 "[mimxrt1050] openocd config file issue"
I tried to use this file
https://github.com/azure-rtos/getting-started/blob/cd17938a9ed7325d6ac3c6b194ee6411226d0275/NXP/MIMXRT1050-EVKB/tools/mimxrt1050-evkb.cfg

But I get this error:
[code]
I used openocd 0.11.0.

Any idea what's the problem?

[2021-09-23 15:59] ryanwinter commented on #295
To me it's indicating that it cant find the NXP 1052 device.

Do you see a RT1050-EVK file share and more importantly, do you have a "Universal Serial Bus devices | WebUSB: CMSIS-DAP" device showing up in Device Manager?

[2021-09-23 15:59] #277 closed

[2021-09-23 16:58] mehrdadh commented on #295
@ryanwinter thanks for getting back to me. yeah I do see that. Here is the output of the lsusb -v:
[code]

Can you clarify which openocd version are you using? I have looked at the openocd github and I don't see any [target](https://github.com/openocd-org/openocd/) with name `imxrt1050`. So my guess is that you have a openocd branch that supports this board?

[2021-09-23 19:06] ryanwinter commented on #295
I'm running a version of openocd from over a year ago on Windows, its listed as 0.10.0. I just tested this out and it appears to not be working for me either, I'll have to investigate what is going on.

Before you go down this route though, what project are you trying to use? Even if you get the openocd interface working, its only capable of programming the internal ROM which is only 96KB so unles

[2021-09-23 19:31] mehrdadh commented on #295
@ryanwinter thanks for checking. I'm working with MIMXRT1050-EVKB board. I actually don't necessarily need to use openocd, I'm mostly looking for a way to flash my ELF file to hyperflash without drag and drop to mounted drive. One way is to mount the drive and copy to it, but is there a better way to do that? using JLink or something like that.

[2021-10-15 00:12] ryanwinter commented on #288
At this point I dont see the WICED drivers surfacing enterprise support, and this is not something that I could test if they did. I would suggest trying an non-enterprise method.

[2021-10-15 00:12] #288 closed

[2021-11-16 11:32] cburdea opened #307 "Connection lost after 1h"
I used the given documentation to connect my DevKit to IoT Central.
https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-devkit-mxchip-az3166
Following the tutorial, my connection gets lost after one hour, I assume it is due to the SAS token renewal?
Any quick fix to this?

I have appended the Termite log:
![image](https://user-images.githubusercontent.com/47006086/141977887-a2c482e3-ae19

[2021-11-16 17:40] ryanwinter commented on #307
Hi @cburdea,

Yes you are correct, the disconnect is happening b4ecause of SAS token expiration. There is some preliminary reconnect logic in the sample, however it is pretty poor.

There is a new reconnect workflow in development, can you give that a try? Hopefully this will be pushed up in a few weeks once its gone through further validation.

https://github.com/azure-rtos/getting-started/pull/3

[2021-11-16 21:18] cburdea commented on #307
Works like a charm @ryanwinter! Thanks

[2021-11-16 21:18] cburdea commented on #307
Works like a charm @ryanwinter! Thanks

[2021-11-16 21:18] #307 closed

[2021-11-18 07:41] escherstair opened #308 "Add support for STM32H735G-DK"
Can you add the getting started procedure for [STM32H735G-DK](https://www.st.com/en/evaluation-tools/stm32h735g-dk.html)?

Thanks

[2021-11-19 22:56] ryanwinter commented on #308
hi @escherstair,

We are not looking at expand our cmake guides to include additional components at this time.

However you could take a look at the STM32F746G-DISCO samples `[here](https://github.com/azure-rtos/samples)`, it is also a cortex chip and contains the same ethernet controller it could be a good starting point.

There are also [ready to run examples](https://www.st.com/content/st_com/e

[2021-11-22 07:15] escherstair commented on #308
Hi @ryanwinter
this repo is really cool because it hosts cmak examples that can be used out-of-the-box with VSCode.
All the other links you provided are related to some specific IDE (IAR, STMCube, ...).
Do you know any tool to convert these kind of project files to cmake?

[2021-11-22 21:54] gcampbell-msft opened #311 "CommonMark standards require a space between triple-tick and the language name."
This is a very low priority issue but should be noted.

[2021-11-25 00:42] ryanwinter commented on #308
Hi,

The Cmake is created by hand and as far as I'm aware, there isnt any good tool to do this automatically from an IDE. Even if there was, Im guessing the cmake would end up unreadable. We spent some time trying to create a cmake structure that used modern cmake and was reasonably easy to understand.

To create a new one for the board above, you would probably need to the following steps by modi

[2021-11-29 19:31] ryanwinter commented on #311
Looking at the standard, is calls out the leading and trailing spaces for the info string must be trimmed:

[Example 142](https://spec.commonmark.org/0.30/#example-142) also doesnt include the space.

[2021-11-29 19:31] #311 closed

[2021-12-02 19:47] #308 closed

[2022-01-10 12:23] lucarv opened #320 "Can't build the firmware"
C:/Users/eksko/OneDrive - Microsoft/code/repos/azure-rtos/getting-started/shared/lib/netxduo/addons/azure_iot/azure_iot_security_module/iot-security-module-core/src/serializer/extensions/custom_builder_allocator.c:78:1: fatal error: opening dependency file lib\netxduo\addons\azure_iot\azure_iot_security_module\iot-security-module-core\CMakeFiles\asc_security_core.dir\src\serializer\extensions\cust

[2022-01-16 13:59] Shiba-Kar opened #321 "Antivirus is blocking get-toolchain.ps1 install"
![image](https://user-images.githubusercontent.com/24454722/149663119-2a9cf0f5-a4b3-4c90-870e-d690d9e44abc.png)

[2022-01-19 17:04] vitara-srinivasan opened #322 "License Terms"
Using Azure RTOS - ThreadX, NetX and FileX on Renesas S7G2. What are the License terms for using these in our application?

[2022-01-26 02:55] karimelhammady opened #323 "Legacy mqtt vs nx client"
What is  the difference between the legacy mqtt client and the nx client? What will be the benefits for me to switch the nx client instead of the legacy mqtt?

[2022-02-01 23:32] ryanwinter commented on #322
Hi @vitara-srinivasan,

You can read more on the Azure RTOS licensing [here](https://github.com/azure-rtos/threadx#licensing).

For Renesas, the Synergy/RX/RA/RZ MCU families can be used with Azure RTOS they you are granted pretty open use as described in the [LICENSE.TXT](https://github.com/azure-rtos/threadx/blob/master/LICENSE.txt), paragraph 2.

Given the S7G2 is part of the Synergy family, it

[2022-02-01 23:32] #322 closed

[2022-02-01 23:36] ryanwinter commented on #320
Hi @lucarv,

The problem you are running into is due to the lack of long path name support in legacy windows systems.

While the various tools used to build the firmware are being updated to support file names longer than 240 characters, there are still some gaps.

I would recommend updated to the latest versions of CMake/GCC/Ninja, as well as making sure that long path support is [activated in Wi

[2022-02-01 23:36] #320 closed

[2022-02-01 23:41] ryanwinter commented on #321
Hi @Shiba-Kar,

Unfortunately powershell scripts are often flagged as suspicious by antivirus software as this is an often used mechanism. Because of this, it's not possible for us to test all anti-virus software to understand how they classify this script.

They options to avoid this problem are:
1. Disable the antivirus while installing the toolchains, or choose to ignore the alert if possible.

[2022-02-01 23:41] #321 closed

[2022-06-09 10:21] chrisvugrinec opened #338 "no tools for macos"
Is it possible to have the instructions and tooling available for macos. Currently there are only scripts for getting the tools for windows and linux

[2022-06-09 18:14] ryanwinter commented on #338
Hi @chrisvugrinec,

Just to clarify, are you referring to the guides [here](https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-devkit-mxchip-az3166)?

We haven't had a big signal for MacOS users, and in reality there are very few actual windows dependencies, really just Termite for the serial terminal, I'm not sure what the best tool would be.

Is there anywhere specific you are stuck?

[2022-06-27 16:47] navinreddy23 opened #343 "Different results with two CMake projects for same sources"
Hi,

I am facing a weird issue. I have made two projects with same source files that use CMake for compilation.

1. First project has CMakeLists.txt in multiple subdirectories.
2. Second project has a single CMakeLists.txt

Both projects using the same tool chain and compilation flags. But the first project hard faults when trying to execute `_tx_thread_schedule();`. The second project works witho

[2022-06-27 20:29] ryanwinter commented on #343
Hmm, its hard to see what the problem is here, the fact that it links should mean that symbol is available but if it cant resolve this at run

Where you able to set a breakpoint in _tx_initialize_kernel_enter and try and step into _tx_thread_schedule?

If you are happy to share the source, I can take a look. CMake can be tricky especially with the some of the optimisation flags which can drop piec

[2022-06-28 06:19] navinreddy23 commented on #343
Hi @ryanwinter,

Thank you for the quick response!

I am not sure at the moment, but I think I had issues when I set a breakpoint in `_tx_initialize_kernel_enter`. I can confirm this tomorrow, as I do not have the device right now.

Please find the sources at this link below. I have uploaded both the projects.
[SourcesLink](https://www.dropbox.com/s/ch01wuchb0zif1v/GitHub.7z?dl=0)

[2022-06-28 17:04] ryanwinter commented on #338
Closing for now. If you want to reengage on this topic, please reopen this issue or open a new one.

[2022-06-30 00:19] ryanwinter commented on #343
Hi @navinreddy23,

I dont have an STM32H7 board available so I modified the project to be a generic Cortex M4 project and was able to execute successfully (start executing a thread within ThreadX).

Did you have any success debugging further? Also in the screenshot above, is there a line number assigned to the end of the _tx_initialize_kernel_enter call stack line?

[2022-06-30 07:42] navinreddy23 commented on #343
Hi @ryanwinter,

I tried debugging with the break point set at `_tx_thread_schedule();` at line number 142. I am able to get into `tx_thread_schedule.S`. The last point of execution is at line 102 where interrupts are enabled.
[code]

![image](https://user-images.githubusercontent.com/71843600/176614745-b4cd461d-99ae-44fe-81dc-6bebaeb49a91.png)

I tried adding another simple thread in `UINT App_Th

[2022-06-30 18:12] navinreddy23 commented on #343
Hi Ryan,

Wow! Thanks a lot for the explanation!

I modified the add_library() function as you suggested, and it WORKS well!

Thank you so much for your time and helping me out!

[code]

[2022-06-30 19:20] ryanwinter commented on #343
Glad this is resolved! I havent definitly run into this problem in the past and its so hard to debug!

I have this as a pending blog topic, so I think while this is fresh in my mind I'm going to write this.

[2022-06-30 19:20] #343 closed

[2022-07-14 18:22] navinreddy23 commented on #343
Hi @ryanwinter,

There seems to be another issue with the Lib type build.

It works fine when there are no interrupt handlers in the `App` directory. If an interrupt handler or an ISR callback is present, then I get a **Stack Overflow** on one of the threads (only one user thread at the moment).

If there is no interrupt handler in the `App` folder, then a Stack Overflow is not triggered.

Also, l

[2022-08-06 23:24] ascheurer opened #347 "tx_thread_schedule.s supports TX_LOW_POWER declaration w/ ports_modules folder (gnu m4) but never called (BL ) in the schedule unlike the ports folder which does call enter, exit ?"

[2022-08-06 23:28] ascheurer commented on #347
#ifdef TX_LOW_POWER
    .global tx_low_power_enter
    .global tx_low_power_exit
#endif
is defined in tx_thread_schedule.S for ports and ports_module however it is only called with BL using ports and not ports_module. Is TX_LOW_POWER supported with threadx modules? Unclear on why it would be defined w/ .global and never called in the tx_thread_schedule.S only for ports_modules (in particular gnu m

[2022-08-10 01:54] #347 closed

[2022-08-10 01:54] ascheurer commented on #347
moved ticket to #208

[2022-09-01 09:36] sergiosolorzano opened #348 "IOT_DPS_ID_SCOPE empty azure error at connection"
Hi, I can connect to wifi when I flash mxchip but I get this error at connection.

ERROR: azure_iot_nx_client_dps_entry incorrect parameters as shown in Termite:

`Initializing WiFi
	MAC address: XX:XX:XX:XX:XX:XX
SUCCESS: WiFi initialized

Connecting WiFi
	Connecting to SSID 'MYSSID'
	Attempt 1...
SUCCESS: WiFi connected

Initializing DHCP
	IP address: XXX.XX.XX.X
	Mask: 255.255.255.240
	Gateway:

[2022-09-01 12:49] sergiosolorzano commented on #348
Found the culprit, in case anyone runs in this issue, I found enabling diagnostics and waiting a bit after trying to connect logged there was an authentication problem. I created the SAS key y'day and it probably expired , renewing the primary key of the iot hub - in iothub ->shared access policies->iothubowner. Updated the flashed script and connected fine.

[2022-09-01 12:49] #348 closed

[2022-09-01 17:23] ryanwinter commented on #348
Thanks for the detail here @sergiosolorzano. We do know that debugging connectivity is hard and time consuming and we are looking to develop a diagnostic tool in the future to help here. I have added SAS token validation to our list.

[2022-09-13 06:35] sergiosolorzano opened #349 "mxchip press button send led_state to to Azure IoT"
Can someone share an example or guidance how I can send the property led_State when a button in the mxchip IoT device is pressed the signal is sent to Azure IoT?
I can light led in board_init.c:

At board_init.c
weak void button_a_callback()
{

    //WIFI_LED_ON();
    //AZURE_LED_ON();
    //USER_LED_ON();
    if (BUTTON_A_IS_PRESSED)
    {
        val += 32;
        if (val > 2047)
            v

[2022-09-15 23:23] ryanwinter commented on #349
So properties_complete_cb is static in nx_client.c and is called when the device twin properties have completed processing so I wouldnt use this function.

What I think you want to do is implement button_a_callback in nx_client.c (the version in board_init.c is weak, so any other implementation will override it).

You could have something like:

[code]

I havent tested the code, but I believe you

[2022-09-21 23:29] ryanwinter commented on #349
Closing for now, please reopen if you have more questions.

[2022-09-21 23:29] #349 closed

[2022-09-28 14:27] nscooling opened #350 "DNS client fails to initilaize"
I'm following along the tutorial for the MXChip

I keep getting the following error:
[code]

I have tried two different WiFi's with the same result.

I cannot find any suggestions for this issue.

Any ideas?

[2022-09-29 22:14] ryanwinter commented on #350
Hi @nscooling,

The 0x94 errors resolves to NX_DHCP_NOT_BOUND, which seems to indicate that DHCP failed, however I can see that it was working in the log you posted above. Let me investigate more on why the dhcp service is returning this error.

Ryan

[2022-10-03 14:03] nscooling commented on #350
Hi @ryanwinter

okay that seems to be starting the DHCP. It looks like it might have been an azure setting issue, but now I'm getting as far as:
[code]
Again, I can't find any guidance to what I'm doing incorrectly. I think some it may be to do with the different README's for getting started and they are slightly out of sync with the current Azure dashboard config. So, I'm guessing it's finger tro

[2022-10-03 16:49] nscooling commented on #350
Hi @ryanwinter

I'm getting further now, the DNS client is now initializing okay.

I think it may have been an azure-iot config issue.

However, now I'm stuck here!
[code]
I'm guessing it's another config issue? but not a clue what I'm doing wrong!

[2022-10-03 16:59] ryanwinter commented on #350
Was this running on the branch? I only added some debugging so this shouldnt have improved things.

The 20002 is an invalid parameter error which means you are passing a null in for one of the parameters:

[code]

[2022-10-04 07:50] nscooling commented on #350
Thanks for all your support. Mostly finger trouble (azure-config.h) and mis-reading the getting started steps. All up and working now.

The upside is I do feel I have a better handle on the azure IoT dashboard and setup.

Apologies for not being able to follow basic instrcutions!

[2022-10-04 07:50] #350 closed

[2022-10-14 13:14] sergiosolorzano opened #352 "ERROR: Unable to find folder at https://aka.ms/vcpkg-ce-default at command vcpkg activate"
At step [vcpkg activate](https://github.com/azure-rtos/getting-started/blob/master/MXChip/AZ3166/VS.md) I get error

Updating registry data from https://aka.ms/vcpkg-ce-default
ERROR: Unable to find project in folder (or parent folders) for undefined

PS C:\AR-VR-Github\mxchip-install\MXChip\AZ3166> vcpkg activate
warning: vcpkg-artifacts are experimental and may change at any time.
A suitable ver

[2022-10-14 20:39] ryanwinter commented on #352
Related to a change in vcpkg, I have submitted an issue: https://github.com/microsoft/vcpkg/issues/27241

[2022-10-15 07:19] sergiosolorzano commented on #352
Thanks a bunch @ryanwinter  , bug seems to make the tool unusable, any solution in the interim?

[2022-10-15 16:57] ryanwinter commented on #352
A workout I found would be to use the `--z-vcpkg-manifest-dir` flag to specific the directory.

` vcpkg activate --z-vcpkg-manifest-dir=C:\projects\iot\rtos\getting-started\MXChip\AZ3166`

It appears to only work with absolute paths.

[2022-10-16 06:34] sergiosolorzano commented on #352
Worked great @ryanwinter , this tool is awesome! thanks again for your help !

[2022-10-16 09:21] sergiosolorzano commented on #352
Worked great @ryanwinter , this tool is awesome! thanks again for your help !

[2022-10-16 09:21] #352 closed

[2022-10-16 09:36] sergiosolorzano opened #353 "How can I get IoT Hub Events to subscribe to property updates"
IoT Hub Event does not receive recorded property changes in the device twin. For example, property ledState is updated by the actual device (with patch) and the device twin updates the reported property, but the IoT Hub Event does not receive the event. This limits me in passing this property change to a digital twin with an azure function.

The IoT Hub Event does not show updated properties, unli

[2022-10-18 22:17] ryanwinter commented on #352
Checked in on this and the new version they pushed out was successfully able to activate.

[2022-11-11 06:52] sergiosolorzano opened #355 "How pinch AZURE_IOT_NX_CONTEXT to send new state of device properties to IoT Hub"
Hi, I am trying to change the reported ledState in device twin when I change it in the actual device (mxchip AZ3166).

If I send this message to IoT Hub from nx_client.c when a device button is pressed, I think nx_context is not ready and the packet fails on tls packet error checks.

It works by changing a bool in nx_client.c when the button state changes and setting up a callback in azure_iot_nx_

[2022-11-11 13:06] #353 closed

[2022-11-16 18:04] ryanwinter commented on #355
Hi,

Are you accessing the `static AZURE_IOT_NX_CONTEXT azure_iot_nx_client` from the nx_client.c?
Which function are you accessing this variable from?
The global azure_iot_nx_client and the nx_client variable in the callbacks are pointing at the same structure so there wouldnt be a difference between the two.

Its possible that you are running into threading issues, because if you are using execu

[2022-11-22 08:34] sergiosolorzano commented on #355
Hi @ryanwinter  thank you for your response and apologies for the delay, I was travelling.

This is the [repo](https://github.com/sergiosolorzano/mxchipinstall-client_run.git) that works and that I think creates overhead at client_run() to change the reported ledState. I fire azure_iot_nx_client.c->process_set_device_bool_event() at azure_iot_nx_client.c->client_run() as a callback on the ledState

[2022-11-22 23:32] campbellcole commented on #338
I am using macOS for this project and I was able to adapt everything to homebrew commands without a problem, but I can't figure out how to successfully build the project. The build script works on macOS but it fails because "warnings being treated as compiler errors". I tried modifying the build cmake file and removing the `-Werror -Wall` flags but that doesn't seem to change anything. The console

[2022-11-27 13:26] rploeg opened #358 "DNS error"
Hi,

I have followed the manual for the MXchip (AZ3166), but get this error when running the app on the MXchip:

`Initializing DHCP
	IP address: 192.168.1.18
	Mask: 255.255.255.0
	Gateway: 192.168.1.1
SUCCESS: DHCP initialized

Initializing DNS client
	DNS address: 192.168.1.1
	DNS address: 8.8.8.8
	DNS address: 8.8.8.8
ERROR: nx_dns_server_add (0x000000af)
ERROR: dns_connect`

My DNS is correctly

[2022-11-28 19:03] ryanwinter commented on #358
Hi @rploeg,

Let me take a look at this, maybe this is related to the duplicate DNS entries.

[2022-11-29 01:07] ryanwinter commented on #358
Please try again, fixed with https://github.com/azure-rtos/getting-started/pull/359

[2022-11-29 01:07] #358 closed